#footer{
    @include d-footer (column,center,center);
    padding: 15px 0;
    color: white;
    background-color: rgba($color: #000080, $alpha: .9);
    font-family: 'Lato', sans-serif;;
    font-size: 1rem;
}

.phrase {
    margin: 0 11px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
